.panel {
    height: 98%;
    margin: 1%;
    border-radius: 7px;
 	border:0px;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.panel-heading {
    padding: 0px;
    height: 25%;
    color: white;
    font-size: 1.5vw;

}

.panel-heading button{
	background-color: #00008B;
    color: white;
    border-color: #00008B;
    border-radius: 3px;
}

.panel-body {
    padding: 5px;
    height: 75%;
    overflow: hidden;
    font-size: 16px;
}

.closed {
    opacity: 0.5;
}
